@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes softGradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

body {
  background: linear-gradient(270deg, #fdfcfb, #e2d1c3, #f5f5f5);
  background-size: 600% 600%;
  animation: softGradient 20s ease infinite;
}